# Imports

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import Perceptron
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

# Data loading

In [30]:
X_train = pd.read_csv("../../data/kaggle-competitions/loan/loan-10k.lrn.csv", index_col="ID")
y_train = pd.read_csv("../../data/kaggle-competitions/loan/loan-10k.sol.ex.csv", index_col="ID")
X_test = pd.read_csv("../../data/kaggle-competitions/loan/loan-10k.tes.csv", index_col="ID")

In [31]:
X_train

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,...,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,grade
ID,,,,,,,,,,,,,,,,,,,,,
24341,12500.0,12500.0,12500.0,36 months,7.21,387.17,< 1 year,MORTGAGE,81000.0,Not Verified,...,N,6,2018,6,2000,2,2019,2,2019,A
67534,33850.0,33850.0,33775.0,60 months,20.99,915.57,1 year,MORTGAGE,80000.0,Source Verified,...,N,10,2015,9,1984,2,2019,2,2019,E
35080,10000.0,10000.0,10000.0,60 months,20.00,264.94,< 1 year,RENT,36580.0,Not Verified,...,N,9,2017,10,2006,1,2018,11,2018,D
4828,20250.0,20250.0,20250.0,36 months,14.31,695.15,9 years,RENT,48700.0,Source Verified,...,N,0,2015,6,1996,6,2016,9,2017,C
59259,25000.0,25000.0,25000.0,36 months,14.99,866.52,1 year,MORTGAGE,85000.0,Source Verified,...,N,11,2016,0,2002,2,2019,2,2019,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,20000.0,20000.0,20000.0,60 months,16.02,486.58,5 years,OWN,54000.0,Verified,...,N,8,2017,11,1991,2,2019,2,2019,C
25910,7500.0,7500.0,7500.0,36 months,9.49,240.22,10+ years,RENT,46386.0,Source Verified,...,N,10,2014,4,2004,3,2017,6,2018,B
95698,20750.0,20750.0,20750.0,60 months,15.05,494.19,< 1 year,RENT,185000.0,Source Verified,...,N,4,2017,2,2004,2,2019,2,2019,C
27371,11000.0,11000.0,11000.0,60 months,16.29,269.20,1 year,RENT,38500.0,Source Verified,...,N,9,2014,8,2006,3,2016,10,2016,D
8729,30000.0,30000.0,29900.0,36 months,12.29,1000.59,10+ years,MORTGAGE,110000.0,Verified,...,N,9,2015,1,1982,9,2018,9,2018,C

In [32]:
y_train

      grade
ID
3582      B
60498     B
53227     B
21333     B
3885      B
...     ...
89555     B
88135     B
51888     B
51380     B
67294     B

[10000 rows x 1 columns]

In [33]:
X_test

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,...,disbursement_method,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year
ID,,,,,,,,,,,,,,,,,,,,,
3582,10000.0,10000.0,10000.0,36 months,9.93,322.35,< 1 year,MORTGAGE,130000.0,Not Verified,...,Cash,N,9,2017,8,2006,2,2019,2,2019
60498,20000.0,20000.0,20000.0,60 months,13.67,461.96,10+ years,MORTGAGE,75500.0,Not Verified,...,Cash,N,3,2016,3,2002,0,2018,2,2019
53227,15000.0,15000.0,15000.0,36 months,11.80,496.79,< 1 year,RENT,38000.0,Source Verified,...,Cash,N,11,2018,9,2004,2,2019,2,2019
21333,12500.0,12500.0,12500.0,36 months,15.31,435.22,10+ years,MORTGAGE,65000.0,Source Verified,...,Cash,N,4,2013,10,1996,4,2016,2,2018
3885,19000.0,19000.0,19000.0,60 months,27.88,590.21,6 years,MORTGAGE,38000.0,Verified,...,Cash,N,10,2015,1,2001,4,2016,2,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89555,14450.0,14450.0,14450.0,60 months,13.33,331.23,6 years,RENT,49500.0,Source Verified,...,Cash,N,6,2015,3,1997,7,2016,0,2019
88135,25000.0,25000.0,25000.0,36 months,10.72,815.16,3 years,MORTGAGE,92000.0,Not Verified,...,Cash,N,11,2018,5,1987,2,2019,2,2019
51888,20000.0,20000.0,20000.0,36 months,14.46,688.03,4 years,MORTGAGE,85250.0,Source Verified,...,Cash,N,5,2016,5,1999,7,2017,2,2019
51380,11275.0,11275.0,11275.0,36 months,20.39,421.27,5 years,RENT,25064.0,Verified,...,Cash,N,2,2018,2,2011,2,2019,2,2019
67294,16800.0,16800.0,16800.0,60 months,16.55,413.47,3 years,RENT,48000.0,Source Verified,...,Cash,N,11,2015,2,2008,2,2019,2,2019

In [34]:
pd.DataFrame({
    "Column Name": X_train.columns,
    "Min value": X_train.min(),
    "Max value": X_train.max()
})

                                       Column Name   Min value   Max value
loan_amnt                                loan_amnt      1000.0     40000.0
funded_amnt                            funded_amnt      1000.0     40000.0
funded_amnt_inv                    funded_amnt_inv      1000.0     40000.0
term                                          term   36 months   60 months
int_rate                                  int_rate        5.31       30.99
...                                            ...         ...         ...
last_pymnt_d_month              last_pymnt_d_month           0          11
last_pymnt_d_year                last_pymnt_d_year        2012        2019
last_credit_pull_d_month  last_credit_pull_d_month           0          11
last_credit_pull_d_year    last_credit_pull_d_year        2012        2019
grade                                        grade           A           G

[91 rows x 3 columns]

# Data preprocessing

In [35]:
#Check for missing values
missing_values = X_train.isnull().sum()

# Print the count of missing values for each column
print(missing_values)

loan_amnt                   0
funded_amnt                 0
funded_amnt_inv             0
term                        0
int_rate                    0
                           ..
last_pymnt_d_month          0
last_pymnt_d_year           0
last_credit_pull_d_month    0
last_credit_pull_d_year     0
grade                       0
Length: 91, dtype: int64

In [36]:
value = X_train["term"].value_counts()
print(value)

term
 36 months    6933
 60 months    3067
Name: count, dtype: int64

## Remove missing values

In [37]:
#There are no missing values

## Map all booleans to their data type

In [38]:
conversion_dict = {'n': False, 'N': False, 'y': True, 'Y': True}

# List of columns to convert
columns_to_convert = ["pymnt_plan", "debt_settlement_flag", "hardship_flag"]

# Apply the conversion to each specified column
for column in columns_to_convert:
    if column in X_train.columns:  # Check if the column exists in the DataFrame
        X_train[column] = X_train[column].map(conversion_dict)

In [39]:
#Removing uncessary column such as Policy_code, because it has only 1 as value.

X_train.drop("policy_code", axis=1)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,...,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,grade
ID,,,,,,,,,,,,,,,,,,,,,
24341,12500.0,12500.0,12500.0,36 months,7.21,387.17,< 1 year,MORTGAGE,81000.0,Not Verified,...,False,6,2018,6,2000,2,2019,2,2019,A
67534,33850.0,33850.0,33775.0,60 months,20.99,915.57,1 year,MORTGAGE,80000.0,Source Verified,...,False,10,2015,9,1984,2,2019,2,2019,E
35080,10000.0,10000.0,10000.0,60 months,20.00,264.94,< 1 year,RENT,36580.0,Not Verified,...,False,9,2017,10,2006,1,2018,11,2018,D
4828,20250.0,20250.0,20250.0,36 months,14.31,695.15,9 years,RENT,48700.0,Source Verified,...,False,0,2015,6,1996,6,2016,9,2017,C
59259,25000.0,25000.0,25000.0,36 months,14.99,866.52,1 year,MORTGAGE,85000.0,Source Verified,...,False,11,2016,0,2002,2,2019,2,2019,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,20000.0,20000.0,20000.0,60 months,16.02,486.58,5 years,OWN,54000.0,Verified,...,False,8,2017,11,1991,2,2019,2,2019,C
25910,7500.0,7500.0,7500.0,36 months,9.49,240.22,10+ years,RENT,46386.0,Source Verified,...,False,10,2014,4,2004,3,2017,6,2018,B
95698,20750.0,20750.0,20750.0,60 months,15.05,494.19,< 1 year,RENT,185000.0,Source Verified,...,False,4,2017,2,2004,2,2019,2,2019,C
27371,11000.0,11000.0,11000.0,60 months,16.29,269.20,1 year,RENT,38500.0,Source Verified,...,False,9,2014,8,2006,3,2016,10,2016,D
8729,30000.0,30000.0,29900.0,36 months,12.29,1000.59,10+ years,MORTGAGE,110000.0,Verified,...,False,9,2015,1,1982,9,2018,9,2018,C

## Map categorical values to string representations

In [40]:
#For clarification, what theses terms mean.
X_train['initial_list_status'] = X_train['initial_list_status'].replace({'w': 'Whole loan', 'f': 'Fractional loan'})

## Show preprocessed data

In [41]:
X_train

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,...,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,grade
ID,,,,,,,,,,,,,,,,,,,,,
24341,12500.0,12500.0,12500.0,36 months,7.21,387.17,< 1 year,MORTGAGE,81000.0,Not Verified,...,False,6,2018,6,2000,2,2019,2,2019,A
67534,33850.0,33850.0,33775.0,60 months,20.99,915.57,1 year,MORTGAGE,80000.0,Source Verified,...,False,10,2015,9,1984,2,2019,2,2019,E
35080,10000.0,10000.0,10000.0,60 months,20.00,264.94,< 1 year,RENT,36580.0,Not Verified,...,False,9,2017,10,2006,1,2018,11,2018,D
4828,20250.0,20250.0,20250.0,36 months,14.31,695.15,9 years,RENT,48700.0,Source Verified,...,False,0,2015,6,1996,6,2016,9,2017,C
59259,25000.0,25000.0,25000.0,36 months,14.99,866.52,1 year,MORTGAGE,85000.0,Source Verified,...,False,11,2016,0,2002,2,2019,2,2019,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6644,20000.0,20000.0,20000.0,60 months,16.02,486.58,5 years,OWN,54000.0,Verified,...,False,8,2017,11,1991,2,2019,2,2019,C
25910,7500.0,7500.0,7500.0,36 months,9.49,240.22,10+ years,RENT,46386.0,Source Verified,...,False,10,2014,4,2004,3,2017,6,2018,B
95698,20750.0,20750.0,20750.0,60 months,15.05,494.19,< 1 year,RENT,185000.0,Source Verified,...,False,4,2017,2,2004,2,2019,2,2019,C
27371,11000.0,11000.0,11000.0,60 months,16.29,269.20,1 year,RENT,38500.0,Source Verified,...,False,9,2014,8,2006,3,2016,10,2016,D
8729,30000.0,30000.0,29900.0,36 months,12.29,1000.59,10+ years,MORTGAGE,110000.0,Verified,...,False,9,2015,1,1982,9,2018,9,2018,C

In [42]:
data_types = X_train.dtypes

# Select columns that are float or int type and not binary (assuming binary columns are represented as int with values 0 and 1)
numerical_columns = data_types[(data_types == 'float64') | ((data_types == 'int64') & (X_train.nunique() > 2))].index.tolist()

# Columns that appear to be numerical (floats or non-binary ints)
numerical_columns

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'int_rate',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_inq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'issue_d_month',
 'issue_d_year',
 'earliest_cr_line_month',
 'earliest_cr_line_year',
 'last_pymnt_d_month',
 'last_pymnt_d_year',
 'last_credit_pull_d_month',
 'last_credit_pull_d_year']

In [43]:
columns_to_scale = [
    'loan_amnt',
    'funded_amnt',
    'funded_amnt_inv',
    'int_rate',
    'installment',
    'annual_inc',
    'dti',
    'fico_range_low',
    'fico_range_high',
    'revol_bal',
    'revol_util',
    'total_acc',
    'out_prncp',
    'out_prncp_inv',
    'total_pymnt',
    'total_pymnt_inv',
    'total_rec_prncp',
    'total_rec_int',
    'total_rec_late_fee',
    'last_pymnt_amnt',
    'tot_cur_bal',
    'total_rev_hi_lim',
    'avg_cur_bal',
    'bc_open_to_buy',
    'bc_util'
]

# Experiments

## Global parameters

In [44]:
seed = 1183744
test_size = 0.2
shuffle_train_test = True
scaler = StandardScaler()
scale_features = columns_to_scale 
category_encoder = OneHotEncoder()
category_features = ["emp_length", "term","application_type"
                     ,"disbursement_method","loan_status","verification_status"
                     ,"initial_list_status", "home_ownership","purpose","addr_state"]

In [45]:
y = X_train["grade"]
X = X_train.drop("grade", axis=1)

In [46]:
print(y)

ID
24341    A
67534    E
35080    D
4828     C
59259    C
        ..
6644     C
25910    B
95698    C
27371    D
8729     C
Name: grade, Length: 10000, dtype: object

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=seed, shuffle=shuffle_train_test)

### Additional preprocessing for training and evaluation

In [48]:
column_transformer = make_column_transformer(
    (scaler, scale_features),
    (category_encoder, category_features),
    remainder="passthrough"
)

X_train_transformed = column_transformer.fit_transform(X_train)
X_train = pd.DataFrame(X_train_transformed, columns=column_transformer.get_feature_names_out())
X_test_transformed = column_transformer.transform(X_test)
X_test = pd.DataFrame(X_test_transformed, columns=column_transformer.get_feature_names_out())

label_encoder = LabelEncoder()

# Fit label encoder and return encoded labels for y_train
y_test_encoded = label_encoder.fit_transform(y_test.values.ravel())

In [49]:
# Check the number of unique classes in the original y_train
unique_classes = np.unique(y_train.values.ravel())
print(f"Unique classes in y_train before encoding: {unique_classes}")

# Now perform label encoding
label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train.values.ravel())

# Check the number of unique classes in the encoded y_train
unique_encoded_classes = np.unique(y_train_encoded)
print(f"Unique classes in y_train after encoding: {unique_encoded_classes}")

# If the number of unique_encoded_classes is greater than 1, you can fit the classifier
if len(unique_encoded_classes) > 1:
    perceptron_classifier = Perceptron(random_state=seed)
    perceptron_classifier.fit(X_train, y_train_encoded)
else:
    print("Error: There is only one class after encoding. Cannot fit the classifier.")

Unique classes in y_train before encoding: ['A' 'B' 'C' 'D' 'E' 'F' 'G']
Unique classes in y_train after encoding: [0 1 2 3 4 5 6]

## Perceptron

### Training

In [50]:
# Initialize the Perceptron
perceptron_classifier = Perceptron(random_state=seed)

# Fit the classifier on the training data
perceptron_classifier.fit(X_train, y_train_encoded)

Perceptron(random_state=1183744)

### Prediction

In [51]:
# Make predictions on the test data
y_pred_perceptron = perceptron_classifier.predict(X_test)

In [52]:
print(f"Number of true labels: {len(y_test_encoded)}")
print(f"Number of predictions: {len(y_pred_perceptron)}")

Number of true labels: 2500
Number of predictions: 2500

### Accuracy

In [53]:
# Evaluate the classifier
accuracy_perceptron = accuracy_score(y_test_encoded, y_pred_perceptron)
print(f"Perceptron Accuracy: {accuracy_perceptron}")

Perceptron Accuracy: 0.2552

## Gaussian Naive Bayes

### Training

In [54]:
# Initialize the Gaussian Naive Bayes classifier
gaussian_nb_classifier = GaussianNB()

# Fit the classifier on the training data
gaussian_nb_classifier.fit(X_train, y_train_encoded)

GaussianNB()

### Prediction

In [55]:
# Make predictions on the test data
y_pred_gaussian_nb = gaussian_nb_classifier.predict(X_test)

### Print predictions

In [56]:
# Evaluate the classifier
accuracy_gaussian_nb = accuracy_score(y_test_encoded, y_pred_gaussian_nb)
print(f"Gaussian Naive Bayes Accuracy: {accuracy_gaussian_nb}")

Gaussian Naive Bayes Accuracy: 0.24

## Decision Tree

In [57]:
# Initialize the Decision Tree classifier
decision_tree_classifier = DecisionTreeClassifier(random_state=seed)

### Training

In [58]:
# Fit the classifier on the training data
decision_tree_classifier.fit(X_train, y_train_encoded)

DecisionTreeClassifier(random_state=1183744)

### Prediction

In [59]:
# Make predictions on the test data
y_pred_decision_tree = decision_tree_classifier.predict(X_test)

### Print predictions

In [60]:
# Evaluate the classifier
accuracy_decision_tree = accuracy_score(y_test_encoded, y_pred_decision_tree)
print(f"Decision Tree Accuracy: {accuracy_decision_tree}")

Decision Tree Accuracy: 0.9876